In [16]:
# Task 1
mynames=["Joe","Zoe","World","Brad","Angelina","World","Zuki","Tom","Paris","World","Magic"]
print("USA" in mynames)

True

In [9]:
# Task 2
print("Number of times world is present=", mynames.count("World"))

Number of times world is present= 3

In [17]:
# Task 3
dataset=list(range(1,30))
odd_count=0
even_count=0
for i in dataset:
    if i%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1

print("Number of even numbers =",even_count)
print("Number of odd numbers =",odd_count)

Number of even numbers = 14
Number of odd numbers = 15

In [18]:
# Task 4
L=[]
count=0
for x in dataset:
    if (x%2==0):
        L.append(x)
        count=count+1
    if (count==5):
        break
print(L)

[2, 4, 6, 8, 10]

In [22]:
# Task 5
dataset = list(range(1,30))
count=0
length=len(dataset)
print("The last two odd numbers are :")
for x in dataset:
    y=dataset[length-1]
    if(y%2!=0):
        print(y, end=" ")
        count = count+1
        if (count==2):
            break
    length=length-1

The last two odd numbers are :
29 27

In [23]:
# Task 6
x=[]
y=[]
for c in range (0,5):
    x.append(int(input("Enter the first list element in integer")))
for c in range (0,5):
    y.append(int(input("Enter the second list element in integer")))
x.extend(y)
x.insert(0,input("Enter the list in string"))
print("Final list", x)

Enter the first list element in integer1
Enter the first list element in integer2
Enter the first list element in integer3
Enter the first list element in integer4
Enter the first list element in integer5
Enter the second list element in integer6
Enter the second list element in integer7
Enter the second list element in integer8
Enter the second list element in integer9
Enter the second list element in integer10
Enter the list in stringAditya
Final list ['Aditya', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# Task 7
num=[]
for a in range(1,41):
    num.append(a**2)
length=len(num)-1
final = num[0:10]+num[length-10:length]
print("First and last ten elements of the list are: ",final)

First and last ten elements of the list are:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521]

In [28]:
# Task 8
c=int(input("Enter the number whose table is required:"))
for a in range (1,11):
    print(c, "*", a,"=",(c*a))

Enter the number whose table is required:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50