In [3]:
# Task1 (a)
rollno = 10
print(id(rollno))
print(rollno)
print(type(rollno))

1632479963728
10
<class 'int'>

In [5]:
Task 1 (b)
first_name = 'Aditya'
print(id(first_name))
print(first_name)
print(type(first_name))

1632560019888
Aditya
<class 'str'>

In [9]:
Task 1 (c)
last_name = "Kumar"
print(last_name)
print(id(last_name))
print(type(last_name))

Kumar
1632560544496
<class 'str'>

In [12]:
# Task 1 (d)
maxmarks = 50
print (maxmarks)
print(id(maxmarks))
print (type(maxmarks))

50
1632479965008
<class 'int'>

In [15]:
# Task 2(a)
var1 = 2                 #var1 is a valid variable as it starts with alphabet 
print(var1)
print(type(var1))

2
<class 'int'>

In [16]:
# task 2(b)
2var = 2                 # 2var is not a valid variable as a variable cannot start with numerical value
print(2var)

SyntaxError: invalid syntax (Temp/ipykernel_7036/1778298853.py, line 1)

In [17]:
# task 2(c)
var 1 =2               #var 1 is not a valid variable as there should not be any space in between variable name  
print(var 1)

SyntaxError: invalid syntax (Temp/ipykernel_7036/2557146167.py, line 1)

In [18]:
# task 2 (d)
var$2 = 2              # var$1 is not a valid variable as no special characters are allowed in variable decleration
print (var$2)

SyntaxError: invalid syntax (Temp/ipykernel_7036/143623358.py, line 1)

In [19]:
# Task 3(a)
Class=15               # Class is a valid variable and has a integer value allocated
print(Class)

15

In [21]:
# Task 3(b)
class=14               # class is a key word and hence cannot be allocated a datatype
print(class)

SyntaxError: invalid syntax (Temp/ipykernel_7036/1492987263.py, line 1)

In [22]:
# task 3 (c)
DEF =13               # DEF is a valid variable with a integer value allocated
print (DEF)

13

In [23]:
# task 4 (d)
def = 12              # def is a keyword and hence cannot be allocated a datatype
print (def)

SyntaxError: invalid syntax (Temp/ipykernel_7036/2047777300.py, line 1)

In [25]:
# Task 4 (e)
a = true             # true is not a string nor a datatype and is undefined
print(a)

NameError: name 'true' is not defined

In [26]:
# Task 4 (f)
b = false              # false is not a string nor a datatype and is undefined
print (b)

NameError: name 'false' is not defined

In [29]:
marks = 35.55        #Task4 a
print(marks)
print(id(marks))
print(type(marks))

35.55
1632560764688
<class 'float'>

In [32]:
marks = 40.99        #Task4 b
print(marks)
print(id(marks))
print(type(marks))

40.99
1632560763760
<class 'float'>

In [ ]:
# task4 c
# No id of both values are not same as both are stored at different locations

In [43]:
Task 5(a)
maxmarks = 350
marks = 277
percentage = (marks/maxmarks)*100
print("percentage:%s %%\n"%percentage)

percentage:79.14285714285715 %

In [49]:
# task 5(b)
a = 'Aditya'
b = 'Kumar'
fullname= a+b
print (fullname)

AdityaKumar

In [50]:
# Task 5(c)
print(marks,fullname,percentage)

277 AdityaKumar 79.14285714285715

In [ ]:
# Task 6
# Will be taught lateron

In [51]:
# Task 7(a) 
a = 1+"2"           # Both integer and string datatypes cannot be combined
print (a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
# Task 7(b)
a = "1"+"2"       # Both datatypes are string and can be combined to get output
print (a)

12

In [53]:
# Task 7(c)
a = 1/2         # arithmetic operation is done and output is of float datatype
print(a)

0.5

In [54]:
# Task 7(d)
a = 1//2          # output is 0 because it is floor division operation which only gives the integer part and truncates the decimal part
print (a)

0

In [55]:
# Task 8(a)
True and True         # In accordance to 'and' function

True

In [56]:
# Task 8(b)
True and False        # In accordance to 'and' function

False

In [57]:
# Task 8(c)
False or True         # In accordance to 'or' function

True

In [58]:
# Task 8(d)
False or False        # In accordance to 'or' function

False

In [59]:
# task 9(a)                  # Answer is true in accordance to 'in' operator used  
first_name = 'Aditya'
full_name = 'Aditya Kumar'
first_name in full_name

True

In [60]:
# Task 9(b)
first_name = 'Aditya'               # Answer is false in accordance to 'is' function used
full_name = 'Aditya Kumar'
first_name is full_name

False

In [62]:
# Task 10
a=4
b=3
c=2
d= a**b+c
e= a**(b+c)
print(d)
print(e)

# values of both d and e are different because in d after getting values of a^b, c is added but in case of e values are a^(b+c)

66
1024

In [63]:
# Task 11
radius = 6
area = 3.14 * radius * radius
print('Area is circle is ', area)

Area is circle is  113.03999999999999

In [65]:
# Task12
SP = 85
sales_tax = .18 * SP
final_amount = 1.18 * SP
print ('Sales tax to be paid is ', sales_tax)
print ('Final Price to be paid is', final_amount)

Salse tax to be paid is  15.299999999999999
Final Price to be paid is 100.3

In [70]:
# Task 13
INR = 75
Total_rupees = 3333
Total_Dollors = Total_rupees/INR
print ('Total Dollars with Individual are', Total_Dollors)

Total Dollars with Individual are 44.44

In [72]:
# Task14
inflation = 7
Purchasing_power = 500
purchasing_power_ly = 500/1.07       # x+0.07x=500 , 1.07x=500,
print('Purchasing Power last year with 7% inflation was = $ ',purchasing_power_ly)

Purchasing Power last year with 7% inflation was = $  467.2897196261682

In [69]:
# task 15 
# Save File

502.20000000000005