In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv', index_col=0)

In [ ]:
df.head()

                                                Text                Tags
2  aspnet site maps has anyone got experience cre...  ['sql', 'asp.net']
4  adding scripting functionality to net applicat...      ['c#', '.net']
5  should i use nested classes in this case i am ...             ['c++']
6  homegrown consumption of web services i have b...            ['.net']
8  automatically update version number i would li...              ['c#']

In [ ]:
type(df.iloc[0]['Tags'])

str

In [ ]:
import ast ## abstract syntax tree

In [ ]:
df.iloc[0]['Tags']

"['sql', 'asp.net']"

In [ ]:
ast.literal_eval(df.iloc[0]['Tags'])

['sql', 'asp.net']

In [ ]:
df['Tags'] = df['Tags'].apply(lambda x: ast.literal_eval(x))

In [ ]:
df.iloc[0]['Tags']

['sql', 'asp.net']

In [ ]:
df.head()

                                                Text            Tags
2  aspnet site maps has anyone got experience cre...  [sql, asp.net]
4  adding scripting functionality to net applicat...      [c#, .net]
5  should i use nested classes in this case i am ...           [c++]
6  homegrown consumption of web services i have b...          [.net]
8  automatically update version number i would li...            [c#]

In [ ]:
multilabel = MultiLabelBinarizer()
y = multilabel.fit_transform(df['Tags'])

In [ ]:
classes = multilabel.classes_

In [ ]:
classes

array(['.net', 'android', 'asp.net', 'c', 'c#', 'c++', 'css', 'html',
       'ios', 'iphone', 'java', 'javascript', 'jquery', 'mysql',
       'objective-c', 'php', 'python', 'ruby', 'ruby-on-rails', 'sql'],
      dtype=object)

In [ ]:
pd.DataFrame(y,columns = classes)

,.net,android,asp.net,c,c#,c++,css,html,ios,iphone,java,javascript,jquery,mysql,objective-c,php,python,ruby,ruby-on-rails,sql
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48971,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48972,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48973,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
48974,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
48975,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
tfidf = TfidfVectorizer(analyzer = 'word',max_features = 1000, ngram_range = (1,3), stop_words = 'english')

In [ ]:
X = tfidf.fit_transform(df['Text'])

In [ ]:
X

<48976x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 1239765 stored elements in Compressed Sparse Row format>

In [ ]:
#tfidf.vocabulary_

In [ ]:
X.shape,y.shape

((48976, 1000), (48976, 20))

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .2, random_state=0)

In [ ]:
X_train.shape,X_test.shape

((39180, 1000), (9796, 1000))

In [ ]:
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
def j_score(y_true,y_pred):
  jaccard = np.minimum(y_true,y_pred).sum(axis = 1)/np.maximum(y_true,y_pred).sum(axis = 1)
  return jaccard.mean()*100

In [ ]:
lr = LogisticRegression(solver = 'lbfgs')

In [ ]:
X_train.shape,y_train.shape

((39180, 1000), (39180, 20))

In [ ]:
clf = OneVsRestClassifier(lr)
clf.fit(X_train,y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
j_score(y_test,y_pred)

49.12668436096366

In [ ]:
from sklearn.svm import LinearSVC

In [ ]:
svm = LinearSVC(C=1.5,penalty='l1',dual=False)
clf = OneVsRestClassifier(svm)
clf.fit(X_train,y_train)

OneVsRestClassifier(estimator=LinearSVC(C=1.5, dual=False, penalty='l1'))

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
j_score(y_test,y_pred)

53.3787600381108

In [ ]:
x = ['how to write ml code in python and java I have data but do not know how to do it']
#x = ['for database purpose postgresql is good language whereas python is good for datascience']

In [ ]:
xt=tfidf.transform(x)

In [ ]:
clf.predict(xt)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0]])

In [ ]:
multilabel.inverse_transform(clf.predict(xt))

[('java', 'python')]