In [1]:
import pandas as pd

In [55]:
# Task 1
maths_marks=[66,75,88,95,77,87,59,86,100,79]
maths_=pd.Series(maths_marks, index=np.arange(1,11))
maths_

1      66
2      75
3      88
4      95
5      77
6      87
7      59
8      86
9     100
10     79
dtype: int64

In [56]:
# Task 2
physics_marks=[77,50,63,66,45,83,65,35,92,65]
physics_=pd.Series(physics_marks, index=np.arange(1,11))
physics_

1     77
2     50
3     63
4     66
5     45
6     83
7     65
8     35
9     92
10    65
dtype: int64

In [57]:
total_marks=(maths_+physics_)
total_marks

1     143
2     125
3     151
4     161
5     122
6     170
7     124
8     121
9     192
10    144
dtype: int64

In [62]:
x=total_marks[(total_marks>140)]
y=x.size
print("Total students with marks above 140 : ",y)

Total students with marks above 140 :  6

In [10]:
# Task 3
com_marks=pd.concat([maths_,physics_])
com_marks

0     66
1     75
2     88
3     95
4     77
5     87
6     59
7     86
8    100
9     79
0     77
1     50
2     63
3     66
4     45
5     83
6     65
7     35
8     92
9     65
dtype: int64

In [59]:
# Task 3
print(maths_>physics_)

1     False
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10     True
dtype: bool

In [60]:
print(maths_<physics_)

1      True
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
dtype: bool

In [61]:
print(maths_==physics_)

1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [12]:

import numpy as np

In [14]:
# Task 4
price=np.random.randint(30000,50000,20)
price

array([30031, 36602, 47916, 37948, 49950, 37127, 35466, 48080, 43094,
       43036, 42622, 44655, 39707, 32396, 36728, 42103, 46676, 35784,
       41704, 43723])

In [17]:
cars=pd.Series(price, index=np.arange(101,121))
cars

101    30031
102    36602
103    47916
104    37948
105    49950
106    37127
107    35466
108    48080
109    43094
110    43036
111    42622
112    44655
113    39707
114    32396
115    36728
116    42103
117    46676
118    35784
119    41704
120    43723
dtype: int32

In [19]:
# Task 5
x=np.count_nonzero(price>40000)
print("Number of cars with price above 40000 are :", x)

Number of cars with price above 40000 are : 11

In [29]:
# Task 6
a=cars[10:16]
b=a.max()
print("Car with highest price between model numbers 111 to 116 is :", b)
print("Details of cars between model numbers 111 to 116 are :", a)

Car with highest price between model numbers 111 to 116 is : 44655
Details of cars between model numbers 111 to 116 are : 111    42622
112    44655
113    39707
114    32396
115    36728
116    42103
dtype: int32

In [38]:
# Task 7
m=cars[(cars>30000)&(cars<40000)]
n=np.count_nonzero(m)
print("Total count of cars with price between 30000 and 40000 are :",n)
print("Details of cars  with price between 30000 and 40000 are :",m)

Total count of cars with price between 30000 and 40000 are : 9
Details of cars  with price between 30000 and 40000 are : 101    30031
102    36602
104    37948
106    37127
107    35466
113    39707
114    32396
115    36728
118    35784
dtype: int32

In [41]:
# Task 8
print("Average price of cars are : ", cars.mean())
p=cars.mean()
q=cars[cars>p]
r=np.count_nonzero(q)
print("Details of cars with price above than average price are :", q)
print("Count of cars with price above than average are :", r)

Average price of cars are :  40767.4
Details of cars with price above than average price are : 103    47916
105    49950
108    48080
109    43094
110    43036
111    42622
112    44655
116    42103
117    46676
119    41704
120    43723
dtype: int32
Count of cars with price above than average are : 11

In [44]:
# Task 9
car_id=[201,202,203]
price_=[34000,45000,54000]
cars_new=pd.Series(price_, index=car_id)
cars_new

201    34000
202    45000
203    54000
dtype: int64

In [46]:
new_cars=pd.concat([cars, cars_new])
new_cars

101    30031
102    36602
103    47916
104    37948
105    49950
106    37127
107    35466
108    48080
109    43094
110    43036
111    42622
112    44655
113    39707
114    32396
115    36728
116    42103
117    46676
118    35784
119    41704
120    43723
201    34000
202    45000
203    54000
dtype: int64

In [63]:
# task 10
print("Before decrement :",new_cars)
d=new_cars
d[(d>40000)]=d[d>40000]*0.9
print("After decrement :",d)

Before decrement : 101    30031
102    36602
103    47916
104    37948
105    49950
106    37127
107    35466
108    48080
109    43094
110    43036
111    42622
112    44655
113    39707
114    32396
115    36728
116    42103
117    46676
118    35784
119    41704
120    43723
201    34000
202    45000
203    54000
dtype: int64
After decrement : 101    30031.0
102    36602.0
103    43124.4
104    37948.0
105    44955.0
106    37127.0
107    35466.0
108    43272.0
109    38784.6
110    38732.4
111    38359.8
112    40189.5
113    39707.0
114    32396.0
115    36728.0
116    37892.7
117    42008.4
118    35784.0
119    37533.6
120    39350.7
201    34000.0
202    40500.0
203    48600.0
dtype: float64

In [66]:
# Task 11
g=new_cars[(new_cars>30000)&(new_cars<40000)]
i=g.size
print("Number cars between 30000 and 40000 before discount: ",i)
h=d[(d>30000)&(d<40000)]
j=d.size
print("Number cars between 30000 and 40000 after discount:",j)

Number cars between 30000 and 40000 before discount:  16
Number cars between 30000 and 40000 after discount: 23

In [67]:
# Task 12
cheap=d.sort_values()
print("Five cheapest cars are :",cheap[0:5])

Five cheapest cars are : 101    30031.0
114    32396.0
201    34000.0
107    35466.0
118    35784.0
dtype: float64