In [1]:
# Task 1
n=int(input("Enter a number:"))
fact=1
while(n>=2):
    fact=fact*n
    n=n-1
print("Factorial of",n,"is",fact)

Enter a number:5
Factorial of 1 is 120

In [2]:
# Task 2
num=1
while(num<=20):
    count=0
    i=2
    
    while(i<=num//2):
        if(num%i==0):
            count=count+1
            break
        i=i+1
    
    if(count==0 and num!=1):
        print(' ', num)
    num=num+1

  2
  3
  5
  7
  11
  13
  17
  19

In [19]:
# Task 3
a=int(input("Enter a number :"))
sum_=0
rem=0
num=a
while (a>0):
    rem=a%10
    sum_=sum_+rem
    a=a//10
print("Sum of the numbers :",sum_)

Enter a number :765
Sum of the numbers : 18

In [18]:
# Task 4
print("Fibonacci Series")
sum=1
n=7
i=1
temp=1
while(n>0):
    print(sum," ")
    sum=i+temp
    temp=i
    i=sum
    n=n-1

Fibonacci Series
1
2
3
5
8
13
21

In [12]:
# Task 5
t1=(15,17,19,"Hello","Good",25)
t2=(4,6,10,"Python","Happy",77)           # There is change in id of t1 after the command because it has added elements and is now a new tuple
print(id(t1))
t1=t1+t2
print(t1)
print(id(t1))
print(id(t2))

2103684609216
(15, 17, 19, 'Hello', 'Good', 25, 4, 6, 10, 'Python', 'Happy', 77)
2103680302672
2103684610368

In [16]:
# Task 6
m={10,20,30,40,50}
n={30,40,50,60,70}
m.update(n)
print(m)

{70, 40, 10, 50, 20, 60, 30}

In [20]:
# Task 7
port1 = {'FTP':1,'SSH':2, 'telnet':3, 'http':4}
n=0
temp=list(port1.values())
while(n<4):
    if temp[n]%2==0:
        print(temp[n])
    n=n+1

2
4

In [21]:
# Task 8
d={}
for i in range(1,16):
    d[i]=i**2
    
print(d)
d[100]=10000
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

In [23]:
# Task 9
port1={21:'FTP', 22:'SSH', 23:'telnet', 80:'fttp'}
port2={}
for keys,values in port1.items():
    temp={values:keys}
    port2.update(temp)
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'fttp': 80}

In [25]:
# Task 10
Employee={
    'emp1':{'name':'Sara','dept':'IT','Designation':'Team lead'},
    'emp2':{'name':'Anna','dept':'IT','Designation':'Senior Software Engineer'},
    'emp3':{'name':'Andy','dept':'Biotech','Designation':'Senior Software Engineer'},
    'emp4':{'name':'Andy','dept':'Biotech','Designation':'Senior Software Engineer'}
}
print(Employee)
del Employee['emp4']
print(Employee)

{'emp1': {'name': 'Sara', 'dept': 'IT', 'Designation': 'Team lead'}, 'emp2': {'name': 'Anna', 'dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'emp3': {'name': 'Andy', 'dept': 'Biotech', 'Designation': 'Senior Software Engineer'}, 'emp4': {'name': 'Andy', 'dept': 'Biotech', 'Designation': 'Senior Software Engineer'}}
{'emp1': {'name': 'Sara', 'dept': 'IT', 'Designation': 'Team lead'}, 'emp2': {'name': 'Anna', 'dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'emp3': {'name': 'Andy', 'dept': 'Biotech', 'Designation': 'Senior Software Engineer'}}